nav {
    background-color:  #ea272d;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: 5px;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}